@font-face {
    font-family: WhitneySans;
    src: url(../fonts/Whitney-Semibold.otf);
}
@font-face {
    font-family: WhitneySansMedium;
    src: url(../fonts/WhitneySans-MediumOSFRegular.ttf);
}
@font-face {
    font-family: WhitneySansLight;
    src: url(../fonts/Whitney-Light.otf);
}