@font-face {
    font-family: WhitneySans;
    src: url(../fonts/whitneysans-boldosf_bigfontsite.com.ttf);
}
@font-face {
    font-family: WhitneySansMedium;
    src: url(../fonts/WhitneySans-MediumOSFRegular.ttf);
}
@font-face {
    font-family: WhitneySansLight;
    src: url(../fonts/Whitney-Light.otf);
}