.personalized-frames {
    padding: 64px;
    color: #252525;

    .personalized-frames_header {
        font-size: 30px;
        margin: 0;
        text-align: center;
    }
    .step-by-step-progres-parent {
        position: relative;
        margin-top: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .reset {
        position: absolute;
        left: 0;
        top: 0;
        color: #F16649;
        font-family: WhitneySansLight;
        font-size: 16px;
        cursor: pointer;

        @media screen and (max-width: 670px) and (min-width: 300px) {
            top: 35px;
        }
    }


    .two-blocks-parent {
        margin-top: 64px;
        display: flex;

        .left-col, .right-col { flex: 1 }

        .left-col { margin-right: 50px; }

        .field-parent {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .plus {
                width: 24px;
                height: 24px;
                cursor: pointer;
                font-size: 20px;

                &:hover {
                    opacity: .8;
                }
            }
        }

        .input-parent-block {
            position: relative;
            input {
                width: 100%;
                height: 63px;
                border: none;
                border-bottom: 1px solid #ECECEC;
                padding: 25px 60px 25px 15px;
                font-family: Arial, Helvetica, sans-serif;
                letter-spacing: 0.16px;
                font-size: 16px;
                font-family: WhitneySansLight;

                &::placeholder {
                    color: #A2A2A2;
                    opacity: 1;
                }

                &:focus {
                    outline: none;
                    border-color: #007bff;
                }
            }
            .limitor {
                position: absolute;
                right: 2%;
                top: 36%;
                color: #E1E1E1;
            }
        }

        .fonts-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 34px;
            margin-top: 16px;
            
            .font-item {
                width: 112px;
                height: 93px;
                text-align: center;

                input { display: none }

                label {
                    width: 100%;
                    height: 60px;
                }

                &:nth-child(1) {
                    font-family: WhitneySans;
                }
                &:nth-child(2) {
                    font-family: 'Chewy', cursive;
                }
                &:nth-child(3) {
                    font-family: 'Damion', cursive;
                }
                &:nth-child(4) {
                    font-family: Arial;
                    .font-prev {
                        font-weight: 900;
                    }
                }
            }

            .font-prev {
                width: 100%;
                height: 60px;
                font-size: 27px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid transparent;
                border-radius: 5px;
                box-sizing: border-box;
                transition: .3s ease-in;
                cursor: pointer;
                color:#676464;

                &:hover {
                    border-color: #36A7AA;
                }
            }

            .font-name {
                margin-top: 8px;  
                color: #A7A7A7;
                font-family: WhitneySansMedium;
            }
        }

        .field-header {
            font-size: 18px;
        }

    }

}


.apply-button {
    width: 100%;
    height: 50px;
    color: #fff;
    border: none;
    box-sizing: border-box;
    background: #36A7AA;
    outline: none;
    opacity: 1;
    margin-bottom: 34px;
    transition: .3s;
    &:focus {
        outline: none;
    }
    &:hover {
        opacity: .9;
    }
}


.toggle-inputs{
    display: none
}
.textDropable {
    display: inline-block;
    width: fit-content;
    font-size: 4.95ex;
    line-height: 49px;
    cursor: grab;
    width: max-content;
}
.rotate {
    transform: rotate(180deg);
}

.checked-font {
    background-color: #36A7AA;
    border-radius: 5px;
    div {color: #fff !important }
}
